<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/vendor/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>
    <main class="container py-4">
      {{ content | safe }}
    </main>
    <script src="/assets/vendor/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/mixitup/mixitup.min.js"></script>
    <script src="/assets/vendor/mixitup/mixitup-pagination.min.js"></script>
    <script src="/assets/vendor/mixitup/mixitup-multifilter.min.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
</html>