.btn-outline-primary.mixitup-control-active {
  color: #fff;
  background-color: var(--bs-primary);
}
.mixitup-control-disabled {
  opacity: 0.1;
  pointer-events: none;
}
.patch-author {
  font-size: 0.75rem;
}